@model IEnumerable<PuntoVentaWeb.Entities.ProveedorEnt>

@{
    ViewData["Title"] = "Consultar Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">



<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h6 class="m-0 font-weight-bold text-white">Lista de Proveedores</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p>
                        <a class="btn btn-all" href="@Url.Action("RegistrarProveedor", "Proveedor")">
                            <i class="fa fa-plus"></i> Nuevo Proveedor
                        </a>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead class="thead">
                            <tr class="table-head">
                                <th>
                                    @Html.DisplayNameFor(model => model.First().IdProveedor)
                                </th>
                           
                                <th>
                                    @Html.DisplayNameFor(model => model.First().NumeroDocumento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Direccion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Impuesto)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-row">
                                    <td>@Html.DisplayFor(modelItem => item.IdProveedor)</td>
                                  
                                    <td>@Html.DisplayFor(modelItem => item.NumeroDocumento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Impuesto)</td>

                                    <td>
                                        <a class="btn btn-success btn-sm" href="@Url.Action("ActualizarProveedor", "Proveedor", new { IdProveedor = item.IdProveedor })">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger btn-sm passingID" data-toggle="modal" data-target="#exampleModal"
                                                data-id="@item.IdProveedor" data-name="@item.Nombre">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EliminarProveedor", "Proveedor", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="hidden" id="IdProveedor" name="IdProveedor" value="">
                    <p id="Question" style="font-weight: bold;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Procesar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".passingID").click(function () {
            $("#IdProveedor").val($(this).data('id'));
            $("#Question").text("¿Desea eliminar el proveedor: " + $(this).data('name') + "?");
        });
    </script>
}